
PORT=8080
FRONTEND_URL=http://localhost:5173

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/sqltester

DATABASE_URL=postgresql://username:password@localhost:5432/sql_sandbox

JWT_SECRET=your_super_secure_jwt_secret

OPENAI_API_KEY=your_openai_api_key